
<div layout="row" ng-controller="MyOfferController">
    <div class="myoffer-myoffers" layout="column">
        <div layout="row">
            <md-content>
                <md-input-container>
                    <label>Sort By</label>
                    <md-select ng-model="sortBy">
                        <md-option selected value="title">Name</md-option>
                        <md-option value="price">Price</md-option>
                    </md-select>
                </md-input-container>
            </md-content>
            <md-content>
                <md-input-container>
                    <label>Search</label>
                    <input type="text" ng-model="searchBox"></input>
                </md-input-container>
            </md-content>
        </div>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="My Requests">
                <div layout="column">
                    <md-button class="md-raised {{buyingoffer.hasResponsesClass}} " buyingoffer="buyingoffer"
                    ng-repeat="buyingoffer in buyingoffers | filter: searchBox | orderBy: sortBy"
                    ng-click="setBuyingoffer(buyingoffer)">{{buyingoffer.title }} {{ buyingoffer.haveNewResponse }}
                </md-button>
            </div>
        </md-tab>
        <md-tab label="My Offers">
            <div layout="column">
                <md-button class="md-raised"
                ng-repeat="senderresponse in senderresponses | filter: searchBox | orderBy: sortBy"
                ng-click="setOfferresponse(senderresponse)">{{ senderresponse.buyingoffer.title }} {{senderresponse.date| date:'dd/MM/yyyy'}}
            </md-button>
        </div>
    </md-tabs>

</md-tab>
</md-tabs>

</div>
<div class="myoffer-responses" layout="column">


    <md-content>

        <h2 ng-if="!OfferSelected">Please select one of your requests/offers</h2>
        <h3 ng-if="ResponseSelected" style="color:{{statusColor}};">Status of the following item: {{ status }}</h3>

        <div mv-buyingoffer-detail ng-if="OfferSelected" buyingoffer="buyingoffer" sameuser="sameuser" create-edit-offer-dialog ="createEditOfferDialog"
        delete-buyingoffer="deleteBuyingoffer" create-offerresponse-dialog="createOfferresponseDialog" process-buyingoffer="processBuyingoffer" logged-in="true"></div>
        <div ng-if="OfferSelected && !ResponseSelected">
            <h2>Responses for {{buyingoffer.title}}:</h2>

            <md-list>
                <md-list-item offerresponse="offerreponse"
                ng-repeat="offerresponse in offerresponses | byCurrentBuyingoffer">
                <div layout="column" flex ng-show="!offerresponse.isTransaction">
                    <div layout="row">
                        <p>User:{{offerresponse.sender.username}} </p><span flex="15"></span> <p>
                        <span flex></span>
                        <p>{{offerresponse.date| date:'dd/MM/yyyy'}}</p>
                    </div>
                    <p> Rating: {{offerresponse.rating.numOfVoters != 0 ? offerresponse.rating.sumRating/offerresponse.rating.numOfVoters +"/5" : " no feedbacks yet"}}</p>
                    <p ng-if="offerresponse.message">Message: {{offerresponse.message}}</p>
                    <p ng-if="!offerresponse.message">Message: No message attached</p>
                    <div layout="column">
                        <img class="offerresponse-picture" ng-repeat="picture in offerresponse.pictures"
                        ng-src="data:{{picture.contentType}};base64,{{picture.data}}"/>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised" ng-click="acceptResponse(offerresponse)">Accept item and
                            buy
                        </md-button>
                        <span flex></span>
                        <md-button class="md-raised" ng-click="declineResponse(offerresponse)">Decline
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </div>


            </md-list-item>


        </md-list>
    </div>
</md-content>

</div>
</div>
