<div layout="row" layout-padding >
<div flex>

    <div class="md-display-1 md-primary md-accent">{{buyingoffer.title}}</div>
    <p class="md-body-1">Price: {{buyingoffer.price}} € | Condition: {{buyingoffer.condition}} | Requires pictures:
        {{(buyingoffer.requirepictures)? "Yes" : "No"}} </p>
    <p class="md-body-1">Offer valid until: {{buyingoffer.validationdate | date:'dd/MM/yyyy'}}</p>
    <p class="md-body-1">Category: {{buyingoffer.category._id}}</p>
    <div mv-editable model="buyingoffer.description" on-save="updateBuyingoffer(changed)"
         on-abort="cancelEditingBuyingoffer()">
        <h2 class="md-title">
            Description
        </h2>
        <p class='md-body-1' ng-hide="editing">
            {{value}}
        </p>

        <div layout="row" layout-align="space-between center" ng-show="editing">
            <md-button ng-click="save()">
                <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                Save
            </md-button>
            <md-button ng-click="cancel()">
                <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
                Cancel
            </md-button>

        </div>
        <md-input-container class="md-block" ng-show="editing">
            <label>Description</label>
            <textarea ng-model="value" md-maxlength="1500" rows="5" md-no-autogrow md-detect-hidden></textarea>
        </md-input-container>


    </div>



    <md-button class="md-raised" ng-show="sameuser"  ng-click="createEditOfferDialog($event)">
        Edit
    </md-button>
    <md-button class="md-raised" ng-show="sameuser"  ng-click="deleteBuyingoffer($event)">
        Delete
    </md-button>

    <md-button class=" md-raised" ng-hide="sameuser" ng-disabled="!loggedIn" ng-click="createOfferresponseDialog($event)" ng-if="buyingoffer.requirepictures">
        <md-icon md-svg-icon="content:ic_send_24px"></md-icon>
        Send pictures
    </md-button>


    <md-button class=" md-raised" ng-hide="sameuser" ng-disabled="!loggedIn" ng-click="processBuyingoffer($event)" ng-if="!buyingoffer.requirepictures">
        <md-icon md-svg-icon="content:ic_send_24px"></md-icon>
        Sell Item
    </md-button>

</div>
</div>
