<md-dialog class="mv-create-dialog">
    <form name="ratingForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Give the feedback</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-xs="row">
                    Tell us how you feel about your seller.
                </div>

                <md-input-container class="md-block">
                    <h3>Rating</h3>
                    <div layout>
                        <md-slider flex md-discrete ng-model="rating" step="1" min="1" max="5" aria-label="rating">
                        </md-slider>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Title</label>
                    <textarea ng-model="title" md-maxlength="50" rows="1" md-select-on-focus></textarea>
                    <div class="hint">(Optional)</div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                    <div class="hint">(Optional)</div>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="send()" ng-disabled="ratingForm.$invalid" md-auto-focus>
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
