
<div layout="row">
    <!-- Left side nav-->
    <div layout="column">
        <md-button ui-sref="profile">Profile</md-button>
        <md-button class="md-raised md-primary" ui-sref="transactions">Previous Transaction</md-button>
        <md-button ui-sref="paymentdetails">Payment Detail</md-button>

    </div>
    <p ng-hide="offerresponses.length">You don't have any transactions yet.</p>
    <md-tabs md-dynamic-height ng-hide="!offerresponses.length">
    <md-tab label="Bought" ng-disabled="!boughtItems.length">
        <md-content class="md-padding">
        <md-list flex>
            <md-list-item class="md-3-line" style="width:600px" ng-repeat="transaction in boughtItems = (offerresponses | filter: {isTransaction : true, addressee: uid}) ">

                <div class="md-list-item-text">

                    <div layout="column" layout-align="left"
                         ng-init="buyingoffer=getBuyingoffer(transaction.buyingoffer)"
                         ui-sref="buyingoffers.detail({buyingofferId: transaction.buyingoffer })"
                         ng-style="{transition: 'box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1)', cursor: 'pointer'}">
                        <h3>{{ buyingoffer.title }}</h3>
                        <h4>Price: {{ buyingoffer.price }} Euros</h4>
                        <p>Date: {{transaction.date | date:'dd/MM/yyyy'}} </p>
                        <p>Status: {{checkStatus(transaction) ? "bought" : "sold"}} </p>
                        <p>
                            Shipping address: {{transaction.address.street}} {{transaction.address.houseNumber}},
                            {{transaction.address.city}} {{transaction.address.postalCode}}, {{transaction.address.country}}
                        </p>
                        <div ng-repeat="picture in transaction.pictures" layout="column">
                            <img ng-src="data:{{picture.contentType}};base64,{{picture.data}}"/>
                        </div>

                    </div>
                </div>
                <div layout="column" layout-align="right" ng-show="checkStatus(transaction)&& transaction.isTransaction" >
                    <!-- functionality will be added -->

                    <md-button class="md-raised" ng-click=createRefundclaimDialog($event,transaction)>Claim Refund</md-button>
                    <md-button class="md-raised" ng-click=giveRating($event,transaction)>give rating</md-button>

                </div>

                <md-divider></md-divider>

            </md-list-item>

        </md-list>
    </md-content>
        </md-tab>
    <md-tab label="Sold " ng-disabled="!soldItems.length">
        <md-content class="md-padding">
            <md-list flex>
                <md-list-item class="md-3-line" style="width:600px" ng-repeat="transaction in soldItems = (offerresponses | filter: {isTransaction : true, sender: uid}) "">

                    <div class="md-list-item-text">

                        <div layout="column" layout-align="left"
                             ng-init="buyingoffer=getBuyingoffer(transaction.buyingoffer)"
                             ui-sref="buyingoffers.detail({buyingofferId: transaction.buyingoffer })"
                             ng-style="{transition: 'box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1)', cursor: 'pointer'}">
                            <h3>{{ buyingoffer.title }}</h3>
                            <h4>Price: {{ buyingoffer.price }} Euros</h4>
                            <p>Date: {{transaction.date | date:'dd/MM/yyyy'}} </p>
                            <p>Status: {{checkStatus(transaction) ? "bought" : "sold"}} </p>
                            <p>
                                Shipping address: {{transaction.address.street}} {{transaction.address.houseNumber}},
                                {{transaction.address.city}} {{transaction.address.postalCode}}, {{transaction.address.country}}
                            </p>
                            <div ng-repeat="picture in transaction.pictures" layout="column">
                                <img ng-src="data:{{picture.contentType}};base64,{{picture.data}}"/>
                            </div>

                        </div>
                    </div>
                    <div layout="column" layout-align="right" ng-show="checkStatus(transaction)&& transaction.isTransaction" >
                        <!-- functionality will be added -->

                        <md-button class="md-raised" ng-click=createRefundclaimDialog($event,transaction)>Claim Refund</md-button>
                        <md-button class="md-raised" ng-click=giveRating($event,transaction)>give rating</md-button>

                    </div>

                    <md-divider></md-divider>

                </md-list-item>

            </md-list>
        </md-content>    </md-tab>
        </md-tabs>
</div>
