<div layout="row" layout-align="center" ng-controller="BuyingofferListCtrl as categorytree">
    <div class="category-div" layout="column">
        <h2 class="categories-browse">Categories:</h2>
        <!--<md-button ng-click="updateData('All Categories')">All Categories</md-button>-->

        <div ng-repeat="category in categories">
            <md-button class="{{category.makePrimary}}" ng-click="updateData(category); tab1=!tab1 "
                       ng-init="category.children=getChildren(category)">
                {{category._id}}
            </md-button>
            <ul ng-if="category._id !=='All Categories'" ng-show="tab1" ng-repeat="child in category.children">
                <md-button class="{{child.makePrimary}}" ng-click="updateData(child); tab2=!tab2 "
                           ng-init="child.grandchildren=getChildren(child)">
                    {{child._id}}
                </md-button>
                <ul  ng-show="tab2" ng-repeat="grandchild in child.grandchildren">
                    <md-button class="{{grandchild.makePrimary}}" ng-click="updateData(grandchild) ">{{grandchild._id}}</md-button>
                </ul>
            </ul>
        </div>

    </div>

    <div class="buyingoffer-div" layout="column">
        <h2 class="requests-browse">Requests:</h2>
        <md-content layout="row" flex-flow="row wrap">

            <md-input-container flex>

                <label>Search</label>
                <input type="text" ng-model="searchBox"></input>

            </md-input-container>

            <md-input-container>
                <label>Sort By</label>
                <md-select ng-model="sortBy">
                    <md-option selected value="title">Name</md-option>
                    <md-option value="price">Price</md-option>
                </md-select>
            </md-input-container>
        </md-content>

        <md-content>
            <md-list flex>

                <md-list-item mv-buyingoffer-list buyingoffer="buyingoffer"
                              dir-paginate="buyingoffer in buyingoffers | filter: searchBox | orderBy: sortBy | filter: {isSold:false} | itemsPerPage:10">
                </md-list-item>


            </md-list>

        </md-content>
        <dir-pagination-controls template-url="views/list/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
