<div class="md-toolbar-tools">
    <md-button aria-label="DealsASAP" ui-sref="home">
        DealsASAP
    </md-button>
    <md-button ng-disabled="!loggedIn" aria-label="Add new request" ng-click="createBuyingofferDialog($event)">
        Add new request
    </md-button>
    <md-button aria-label="Browse" ui-sref="buyingoffers.list">
        Browse
    </md-button>
    <md-button ng-disabled="!loggedIn"  aria-label="My Offers" ui-sref="buyingoffers.myoffer">
        My Requests/Offers
    </md-button>

    <div ncy-breadcrumb class="ui-breadcrumbs md-title">
    </div>
    <span flex></span>

    <!-- not logged in -->
    <span class="md-body-2" hide-xs ng-if="!loggedIn">You are currently not logged in.</span>
    <md-menu md-position-mode="target-right target" ng-if="!loggedIn">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="showLoginDialog()">
                    Log in
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="showSignupDialog()">
                    Sign Up
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>


    <!-- logged in -->
    <span class="md-body-2" ng-if="loggedIn">Hello, {{user.username}}</span>
    <md-menu md-position-mode="target-right target" ng-if="loggedIn">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ui-sref="profile">
                    My Profile
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="logout()">
                    Log out
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>



</div>
