<md-dialog class="mv-create-dialog">
    <form name="addressForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New address</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-xs="row">
                    Please enter your new address.
                </div>

                <md-input-container class="md-block">
                    <label>House Number</label>
                    <textarea ng-model="houseno" required rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Street</label>
                    <textarea ng-model="street" required rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>City</label>
                    <textarea ng-model="city" required rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Postal code</label>
                    <textarea ng-pattern="/^[0-9]+$/" ng-model="postalcode" required rows="1" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Country</label>
                    <textarea ng-model="country" required rows="1" md-select-on-focus></textarea>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="save()" ng-disabled="addressForm.$invalid" md-auto-focus>
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
