<div layout="row">
    <!-- Left column use for user menu-->
    <div layout="column">
        <md-button class="md-raised md-primary" ui-sref="profile">Profile</md-button>
        <md-button ui-sref="transactions">Previous Transactions</md-button>
        <md-button ui-sref="paymentdetails">Payment Details</md-button>
        <md-button ui-sref="adminpanel" ng-show="profile.isAdmin">Admin Panel</md-button>

    </div>

    <!-- Right column use for detail that shown to user-->
    <md-list flex>
        <md-subheader class="md-primary">Profile</md-subheader>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <h3>Username</h3>
                <h4>{{ profile.username }}</h4>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <h3>Name</h3>
                <h4>{{ profile.firstName }} {{ profile.lastName }}</h4>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column">
                <h3>E-Mail</h3>
                <h4>{{ profile.email }}</h4>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-input-container>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                    <div layout="row">
                        <label>Addresses</label>
                        <md-select ng-model="selectedAddress">
                            <md-option ng-repeat="address in addresses" ng-click="match(address)">
                                {{ address.street }}, {{ address.houseNumber }}
                            </md-option>
                        </md-select>
                        <md-button class="md-raised" ng-click="addNewAddress($event)">Add new address</md-button>
                    </div>
                </div>
            </md-list-item>
        </md-input-container>
        <md-list-item class="md-3-line" >
            <div class="md-list-item-text" layout="column">
                <h3>{{ showAddress.street }} {{ showAddress.houseNumber }}</h3>
                <h4>{{ showAddress.postalCode }} {{ showAddress.city }}, {{ showAddress.country }}</h4>
            </div>
        </md-list-item>
    </md-list>
</div>
