<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout="row">
    <!-- Left side nav-->
    <div layout="column">
        <md-button ui-sref="profile">Profile</md-button>
        <md-button  ui-sref="transactions">Previous Transactions</md-button>
        <md-button  ui-sref="paymentdetails">Payment Details</md-button>
        <md-button class="md-raised md-primary" ui-sref="adminpanel">panel</md-button>

    </div>

    <md-content ng-init="showbutton=true;   showimg=false">
        <md-list flex >
            <md-list-item class="md-3-line" style="width:600px" ng-repeat="claim in claims" ng-init="initialize()">
                <div class="md-list-item-text" >

                    <div  layout="column" layout-align="left"
                         ng-init="transaction=getTransaction(claim.transaction)"
                         ng-style="{transition: 'box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1)', cursor: 'pointer'}">
                        <div ng-init="buyingoffer=getBuyingoffer(transaction.buyingoffer)">
                            <h3>Buyer: {{ claim.buyer.username }}</h3>
                               <h3>Seller: {{ claim.seller.username }}  </h3>
                           <a>Reason: {{claim.message}}</a>
                        <p>Transaction Date: {{transaction.date | date:'dd/MM/yyyy'}} </p>
                            <p>Complaint Date: {{claim.date | date:'dd/MM/yyyy'}} </p>
                            <div layout="row"> <span flex="10"></span><a flex="50">Provided images</a>
                            <a ng-show="showimg">Promised images</a>
                            </div>

                            <div layout="row">
                            <div flex="50" ng-repeat="picture in claim.pictures" layout="column">
                               <img ng-src="data:{{picture.contentType}};base64,{{picture.data}}"/>
                           </div>
                                <md-divider></md-divider>
                           <div  layout-align="right end"> <md-button ng-click="showimg=true; showbutton = !showbutton" ng-show="showbutton">show promised images</md-button></div>
                                <div ng-show="showimg" flex="50" ng-repeat="picture in transaction.pictures" layout="column">
                                    <img ng-src="data:{{picture.contentType}};base64,{{picture.data}}"/>
                                </div>
                            </div>

                       </div>
                        <div layout="column" layout-align="right" >

                            <md-button ui-sref="buyingoffers.detail({buyingofferId: transaction.buyingoffer })">See the buying offer</md-button>
                            <md-button  ng-disabled="claim.isResolved" ng-click="resolve(claim)">{{claim.isResolved ? "Resolved" : "Resolve"}}</md-button>

                        </div>


                    </div>
                </div>
                <md-divider></md-divider>

            </md-list-item>

        </md-list>
    </md-content>
</div>
</body>
</html>
