<form name="registerForm" ng-submit="register()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Sign up</h2>
        </div>
    </md-toolbar>

    <md-dialog-content layout-margin>
        <h2 class="md-title md-primary">Create a new account</h2>
        <br>
        <p class="md-warn" ng-show="errorText">{{errorText}}</p>
        <md-input-container class="md-block">
            <label>Username</label>
            <input type="text" required name="username" ng-model="username">
            <div ng-messages="registerForm.username.$error">
                <div ng-message="required">Username is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required name="password" ng-model="pwd">
            <div ng-messages="registerForm.password.$error">
                <div ng-message="required">Password is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>repeat password</label>
            <input type="password" name="passwordConfirm" required compare-to="pwd" ng-model="pwdConfirm">
            <div ng-messages="registerForm.passwordConfirm.$error">
                <div ng-message="required">Password confirmation required.</div>
                <div ng-message="compareTo">Passwords must match.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>First name</label>
            <input type="text" required name="firstName" ng-model="firstName">
            <div ng-messages="registerForm.firstName.$error">
                <div ng-message="required">First name is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Last name</label>
            <input type="text" required name="lastName" ng-model="lastName">
            <div ng-messages="registerForm.lastName.$error">
                <div ng-message="required">Last name is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>E-mail address</label>
            <input type="email" required name="email" ng-model="email">
            <div ng-messages="registerForm.email.$error">
                <div ng-message="required">E-mail address is required.</div>
            </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around center">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button type="submit" ng-disabled="registerForm.$invalid">
            Sign up
        </md-button>
    </md-dialog-actions>
</form>
