<form name="paymentdetailsForm">
    <div layout="row">
        <!-- Left side nav-->
        <div layout="column">
            <md-button ui-sref="profile">Profile</md-button>
            <md-button ui-sref="transactions">Previous Transaction</md-button>
            <md-button class="md-raised md-primary" ui-sref="paymentdetails">Payment Detail</md-button>

        </div>
        <div layout="column">
            <div layout="row">
                <md-input-container class="paymentdetails-cardnumber">
                    <label>Card Number</label>
                    <input required restrict-numeric ng-pattern="/^[0-9]{16}$/" md-maxlength="16" ng-model="payment.cardnumber" flex="90" name="cardnumber">
                </md-input-container>

                <span flex="10"></span>
                <p layout-align="left end" >Expiration:</p>
                <md-input-container class="md-block" flex-gt-xs="20">
                    <label>month</label>
                    <md-select required ng-model="payment.expiremonth">
                        <md-option ng-repeat="month in months" ng-value="month">
                            {{month}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <span flex="8"></span>
                <md-input-container>
                    <label>year</label>

                    <md-select required ng-model="payment.expireyear">
                        <md-option ng-repeat="year in years" ng-value="year">
                            {{year}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container>
                    <label>Name&Surname on the card</label>
                    <input required ng-model="payment.name">
                </md-input-container>
                <span flex="10"></span>
                <md-input-container>
                    <label>CVV</label>
                    <input ng-pattern="/^[0-9]{3}$/" md-maxlength="3" required ng-model="payment.cvvcode">
                </md-input-container>
                <span flex="10"></span>
                <md-input-container class="md-block" flex-gt-xs="30">
                    <label>Card type</label>
                    <md-select required ng-model="payment.cardtype" >
                        <md-option ng-repeat="type in cardtypes" ng-value="type">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>
            <md-button ng-show="isEmpty" ng-click="send()" ng-disabled="paymentdetailsForm.$invalid">Save</md-button>
            <md-button ng-show="!isEmpty" ng-click="update()" ng-disabled="paymentdetailsForm.$invalid">Update</md-button>


        </div>


    </div>
</form>
