md-divider {
  margin-top: 10px;
  margin-bottom: 0; }
.list-header{
  text-align: center;
}
.buyingoffer-div{
  flex:2;
}
.category-div{
  flex:1;
}
.categories-browse{
  text-align: center;
}
.requests-browse{
  text-align: center;
}
/*md-list-item .md-3-line{
  display: flex;
  text-align: left;
  justify-content: flex-start;
}*/
