img{
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}
.gallery-box{
  text-align: center;
}
.mv-pictureresponse {
  width: 500px;
}
.dragover {
  border: 5px dashed blue;
}