<md-dialog aria-label="Buying offer response with pictures" class="mv-pictureresponse">
    <form class="ng-scope">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload pictures</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="navigation:ic_cancel_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container class="md-block">
                <label>Feel free to add a message</label>
                <textarea ng-model="offerresponse.message" md-maxlength="500" rows="3" md-select-on-focus></textarea>

            </md-input-container>
            <div ngf-drop ng-model="offerresponse.pictures" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" >

                <div>
                    <md-button class=" md-raised " ngf-select ng-model="offerresponse.pictures"  ngf-multiple="true" >
                        Upload Image
                    </md-button>

                    <b>OR</b>
                    Drag And Drop your images here
                </div>
                <div>

                    <!-- ngRepeat: file in $flow.files -->

                    <div ng-repeat="picture in offerresponse.pictures" class="gallery-box ng-scope">
                        <span class="title ng-binding">{{picture.name}}</span>
                        <div class="thumbnail" ng-show="picture">
                            <img ngf-thumbnail="picture">
                        </div>

                        <md-button class="md-raised md-warn" ng-show="picture" ng-click="picture = null">
                            Remove
                        </md-button>

                    </div>
                    <!-- end ngRepeat: file in $flow.files -->
                    <div class="clear"></div>
                </div>


            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="cancel()">
                Abort
            </md-button>
            <md-button ng-click="upload()" ng-disabled="!offerresponse.pictures">
                Send Pictures
            </md-button>



        </md-dialog-actions>
    </form>
</md-dialog>
