<!--<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DealsASAP </title>-->

    <!-- Bootstrap Core CSS -->
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

<!-- Custom CSS -->
<!--<link href="css/landing-page.css" rel="stylesheet">-->

<!-- Custom Fonts -->
<!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--</head>

<body>-->



<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Deals<span class="asap">ASAP</span></h1>
                    <h3> Buy on your terms. Sell immediately.</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a ng-click="createOffer($event)" class="btn btn-default btn-lg"> <span class="network-name">Create a new request!</span></a>
                        </li>
                        <li>
                            <a ui-sref="buyingoffers.list" class="btn btn-default btn-lg"> <span class="network-name">Browse requests!</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">A complete new way of online shopping: DealsASAP</h2>
                <p class="lead">With DealsASAP online shopping just became a lot simpler.
                    <br>As a buyer, you will simply name your price. As soon as there is someone willing to sell the item for the desired price, you'll immediately buy it! Optionally you may also confirm before buying.
                    <br>As a seller, you will browse through offers and sell your items immediately. Just sell it and ship it.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Team</h2>
                <p class="lead">This project is developed for SEBA master course. <br> Members:
                <li>Anupama Sajwan</li>
                <li>Boonyakorn Jantaranuson</li>
                <li>Tim Henkelmann</li>
                <li>Yunus Emre Çalışkan</li>

                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <p class="copyright text-muted small">Copyright &copy; Developed by Seba37. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="js/bootstrap.min.js"></script>

</body>

</html>-->
