
<md-list-item flex   ui-sref="buyingoffers.detail({buyingofferId: buyingoffer._id })">
     <div  class="md-list-item-text" layout="column" flex>
          <div layout="row">
          <h3 flex>{{ buyingoffer.title }}</h3>

          <h4>{{ buyingoffer.price }} €</h4>
          </div>
          <p>Condition: {{ buyingoffer.condition }}</p>
     </div>
</md-list-item>
<md-divider></md-divider>

