<md-dialog class="mv-create-dialog">
    <form name="buyingofferForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit request</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="50">
                        <label>Title</label>
                        <input md-maxlength="50" required name="title" ng-model="buyingoffer.title">
                        <div ng-messages="buyingofferForm.title.$error">
                            <div ng-message="required">Title is required.</div>
                            <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-xs="25">
                        <label>Price (€)</label>
                        <input type="number" required name="price" ng-model="buyingoffer.price">
                        <div ng-messages="buyingofferForm.price.$error">
                            <div ng-message="required">Price is required.</div>
                        </div>
                    </md-input-container>
                    <md-content class="md-block" flex-gt-xs="100">
                        <label>Valid until</label>
                    <md-datepicker class="md-block"  ng-model="buyingoffer.validationdate" md-placeholder="Valid until" md-min-date="minDate"></md-datepicker>
                        <div ng-messages="buyingofferForm.validationdate.$error">
                            <div ng-message="required">Please specify how long your offer should be valid!</div>
                        </div>
                    </md-content>


                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="50">
                        <label>Condition</label>
                        <md-select ng-model="buyingoffer.condition">
                            <md-option ng-repeat="condition in conditions" ng-value="condition.abbr">
                                {{condition.abbr}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Category</label>
                            <md-select ng-model="buyingoffer.category">
                                <div ng-repeat="category in categories">
                                    <md-option  ng-value="category"  ng-init="children=getChildren(category._id)">
                                        {{category._id}}
                                    </md-option>
                                    <div ng-repeat="child in children">
                                        <md-option ng-value="child" ng-click="tab2=!tab2 " ng-init="grandchildren=getChildren(child._id)">
                                            --{{child._id}}
                                        </md-option>
                                        <div ng-repeat="grandchild in grandchildren">
                                            <md-option ng-value="grandchild" ng-click="tab2=!tab2 " >
                                                ----{{grandchild._id}}
                                            </md-option>
                                        </div>
                                    </div>
                                </div>
                            </md-select>
                        </md-input-container>
                    <!--<md-input-container class="md-block" flex-gt-xs="25">-->

                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs="50">
                        <label>Shipping address</label>
                        <md-select ng-model="shippingAddress"  required>
                            <md-option  ng-repeat="address in addresses" ng-click="pickAddress(address)">
                                {{ address.street }} {{ address.houseNumber }}, {{address.postalCode}} {{address.city}}
                            </md-option>
                        </md-select>
                        <md-tooltip md-direction="right">
                            Please create new address in profile page if you do not have one.
                        </md-tooltip>
                        <div ng-messages="buyingofferForm.shippingAddress.$error">
                            <div ng-message="required">Shipping address is required.</div>
                        </div>
                    </md-input-container>
                    <span flex></span>
                    <md-input-container class="md-block">
                        <md-checkbox ng-model="buyingoffer.requirepictures" >
                            Require pictures
                        </md-checkbox>
                        <md-tooltip md-direction="right">
                            When checked, users will send you pictures of the item that you can then confirm
                        </md-tooltip>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="buyingoffer.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                    <div class="hint">Describe the product you're looking for as detailed as possible.</div>
                </md-input-container>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="save()" ng-disabled="buyingofferForm.$invalid" md-auto-focus>
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
